<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Calcular Nota</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="{% static 'js/styleText.js' %}" defer></script>
    

</head>

<body class="formbg">

    <header class="header">
        
        <a href="index.html">KevinSucapuca </a>
        
    
    </header>

    <div class="calcular-home">
        <div class="bg-design"></div>
    
        <div id="formss">
            <form action="{% url 'home' %}" method="post" class="Calcular-form" id="calcularForm">
                {% csrf_token %}
                <h1>Calcular Nota</h1>

                <div class="radio-container">
                    <div class="radio-item">
                        <input type="radio" id="opcion1" name="opcion" value="opcion1">
                        <label for="opcion1">Convertir 20 a 100</label>
                    </div>
                
                    <div class="radio-item">
                        <input type="radio" id="opcion2" name="opcion" value="opcion2">
                        <label for="opcion2">Convertir 100 a 20</label>
                    </div>
                </div>
    
                <div class="txtb">
                    <input type="text" name="nota">
                    <span data-placeholder="Ingrese Nota"></span>
                </div>
    
                <div class="txtb">
                    {% if error %}
                    <p class="Mensajeerror">{{ error }}</p>
                    {% else %}
                    <label for="resultado">Resultado:</label>
                    <label id="resultado" class="resultado-nota">{{ resultado }}</label>
                    {% endif %}
                </div>
    
                
    
                <input type="submit" class="logbtn" value="Calcular">
    
            </form>
            
        </div>
    </div>

    </body>
    
    </html>